# Local Terraform secrets for the dev workspace.
TF_VAR_app_secure_parameters='{
  "POSTGRES_PASSWORD": "rentdirect",
  "DJANGO_SECRET_KEY": "=y$w^nxhzf7zpa&@e4)$18-3g%q7*kn+ng2e064qag-ru%dgi^",
  "FIELD_ENCRYPTION_KEY": "FF9nHsWXW9oOUu9U2Qgup4wyDv9pdo8HGc_Vn3q9AmY=",
  "EMAIL_HOST_PASSWORD": "Godis4us@4ever",
  "PAYSTACK_SECRET_KEY": "sk_test_6b787df8b70d290ae9f5ff1f94651c288fbf0642",
  "PAYSTACK_WEBHOOK_SECRET": "",
  "OPAY_WEBHOOK_SECRET": "",
  "OPAY_SECRET_KEY": "OPAYPRV17691736091240.8658269226388524",
  "X_RAPID_API_KEY": "a06f090585msh1ea4d7192db4ce2p174a3ajsnce6f7bbe6910"
}'