# Local Terraform secrets for the dev workspace.
TF_VAR_api_secure_environment='{
  "POSTGRES_PASSWORD": "rentdirect",

  "DJANGO_SUPERUSER_PASSWORD": "",
  "DJANGO_SECRET_KEY": "",

  "FIELD_ENCRYPTION_KEY": "",
  "EMAIL_HOST_PASSWORD": "",

  "DIKRIPT_PUBLIC_KEY": "",
  "DIKRIPT_SECRET_KEY": "",
  "PREMBLY_API_PUBLIC_KEY": "",
  "PREMBLY_API_SECRET_KEY": "",

  "FLUTTERWAVE_TRANSFER_PIN": "",
  "FLUTTERWAVE_PUBLIC_KEY": "",
  "FLUTTERWAVE_SECRET_KEY": "",
  "FLUTTERWAVE_CLIENT_ID": "",
  "FLUTTERWAVE_CLIENT_SECRET": "",
  "FLUTTERWAVE_ENCRYPTION_KEY": "",
  "FLUTTERWAVE_WEBHOOK_SECRET_HASH": "",

  "RENTDIRECT_OPERATING_BANK_CODE": "",
  "RENTDIRECT_OPERATING_BANK_NAME": "",
  "RENTDIRECT_OPERATING_ACCOUNT_NUMBER": "",
  "RENTDIRECT_OPERATING_ACCOUNT_NAME": "",

  "TENANT_CAUTION_HOLDING_BANK_CODE": "",
  "TENANT_CAUTION_HOLDING_BANK_NAME": "",
  "TENANT_CAUTION_HOLDING_ACCOUNT_NUMBER": "",
  "TENANT_CAUTION_HOLDING_ACCOUNT_NAME": "",

  "RENTDIRECT_OPERATING_SUBACCOUNT_ID": "",
  "RENTDIRECT_OPERATING_BUSINESS_EMAIL": "",
  "RENTDIRECT_OPERATING_BUSINESS_MOBILE": "",

  "RENTDIRECT_VAT_HOLDING_BANK_CODE": "",
  "RENTDIRECT_VAT_HOLDING_BANK_NAME": "",
  "RENTDIRECT_VAT_HOLDING_ACCOUNT_NUMBER": "",
  "RENTDIRECT_VAT_HOLDING_ACCOUNT_NAME": "",
  "RENTDIRECT_VAT_HOLDING_SUBACCOUNT_ID": "",
  "RENTDIRECT_VAT_HOLDING_BUSINESS_EMAIL": "",
  "RENTDIRECT_VAT_HOLDING_BUSINESS_MOBILE": ""
}'

# Generate 32 character secret
# openssl rand -base64 64 | tr -dc 'A-Za-z0-9+/' | head -c 36; echo
